<div class="row">
  <%= form.input :name, wrapper_html: { class: 'col-md-5' } %>
  <%= form.input :gender, collection: [:Male, :Female], wrapper_html: { class: 'col-md-3' } %>
  <%= form.input :date_of_birth, wrapper_html: { class: 'col-md-4' } %>
</div>

<div class="row">
  <%= form.input :phone, wrapper_html: { class: 'col-md-6' } %>
  <%= form.input :email, wrapper_html: { class: 'col-md-6' } %>
</div>

<div class="row">
  <%= form.input :address, wrapper_html: { class: 'col-md-12' } %>
</div>