
<div>
    <p>
        Name: <%= @person.name %>
    </p>
    <p>
        Birthday: <%= @person.date_of_birth %>
    </p>
    <p>
        Phone: <%= @person.phone %>
    </p>
    <p>
        Email: <%= @person.email %>
    </p>
    <p>
        Address: <%= @person.address %>
    </p>
    <p>
        Gender: <%= @person.gender %>
    </p>
</div>

