
<div class='page-header'>
  <div class='container'>
    <h1><%= @person.name %></h1>
      <div>
      <%= link_to 'edit', edit_person_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>


<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2>Details</h2>
    </div>
    <div class='panel-body'>
  <div class='row'>
    <div class='col-xs-12'>
        <div>

            <p>
                Birthday: <%= @person.date_of_birth %>
            </p>
            <p>
                Phone: <%= @person.phone %>
            </p>
            <p>
                Email: <%= @person.email %>
            </p>
            <p>
                Address: <%= @person.address %>
            </p>
            <p>
                Gender: <%= @person.gender %>
            </p>

        </div>
      </div>
   </div>
</div>
</div>
</div>

<div class="container">
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2>Related Organization</h2>
    </div>
    <div class='panel-body'>
  <div class="row">
    <div class="col-xs-12">

        <ul>
          <li>Tinkerbox</li>
          <li>Mc Donalds</li>
          <li>KFC</li>
        </ul>

    </div>
  </div>
</div>
</div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
        <h2>Case History</h2>
    </div>
    <div class='panel-body'>
  <div class='row'>
    <div class='col-xs-12'>
          <table class='table table-responsive table-striped'>

            <thead>
              <tr>
                <th>Case ID</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
                <tr>
                  <td><a href="javascript:void(0)">12345</a></td>
                  <td>green</td>
                  <td>dunno</td>
                </tr>
            </tbody>
      </table>

      </div>
   </div>
</div>



