<%= simple_form_for [@case, @followup], as: :entry, url: case_follow_ups_path(@case) do |f| %>

  <%= f.input :case_id, as: :hidden %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :description %></p>

  <hr />

  <%= f.submit 'Add Follow Up', class: 'btn btn-primary btn-block' %>

<% end %>