<table class="table table-biodata">
  <tbody class='col-md-12'>

    <tr>
      <th>Nationality</th>
      <td><%= @case_file.worker.nationality %></td>
    </tr>

    <tr>
      <th>FIN Number</th>
      <td><%= @case_file.worker.fin_number %></td>
    </tr>

    <tr>
      <th>Passport Number</th>
      <td><%= @case_file.worker.passport_number %></td>
    </tr>
  
    <tr>
      <th>Pass Type</th>
      <td><%= @case_file.worker.pass_type %></td>
    </tr>

    <tr>
      <th>Date of Arrival to Singapore</th>
      <td><%= @case_file.worker.date_of_arrival&.to_date&.to_formatted_s(:long) %></td>
    </tr>

    <tr>
      <th>Start of Employment</th>
      <td><%= @case_file.worker.start_of_employment&.to_date&.to_formatted_s(:long) %></td>
    </tr>

    <tr>
      <th>Days off per month</th>
      <td><%= @case_file.worker.days_off %></td>
    </tr>

    <tr>
      <th>Previous Employers Details</th>
      <td><%= @case_file.worker.previous_employers_details %></td>
    </tr>

  </tbody>
</table>

<hr/>

<%- if @case_file.domestic? %>

	<table class="table table-biodata">
	  <tbody class='col-md-12'>

	    <tr>
	      <th>Date of Arrival to HOME</th>
	      <td><%= @case_file.worker.arrived_at&.to_date&.to_formatted_s(:long) %></td>
	    </tr>

	    <tr>
	      <th>Interview Conducted By</th>
	      <td><%= @case_file.worker.interview_conducted_by %></td>
	    </tr>

	    <tr>
	      <th>Date of Interview</th>
	      <td><%= @case_file.worker.date_of_interview&.to_date&.to_formatted_s(:long) %></td>
	    </tr>

	    <tr>
	      <th>Transfer Required</th>
	      <td><%= @case_file.worker.transfer_required? ? 'Yes' : 'No' %></td>
	    </tr>

	    <tr>
	      <th>Repatriation Required</th>
	      <td><%= @case_file.worker.repatriation_required %></td>
	    </tr>

	    <tr>
	      <th>Preferred Language</th>
	      <td><%= @case_file.worker.translate_to %></td>
	    </tr>

	    <tr>
	      <th>English Proficiency</th>
	      <td><%= @case_file.worker.english_proficiency&.titleize %></td>
	    </tr>

	    <tr>
	      <th>Loan Value (in SGD)</th>
	      <td><%= @case_file.worker.loan_value %></td>
	    </tr>

	    <tr>
	      <th>Remaining Loan Value (in SGD)</th>
	      <td><%= @case_file.worker.remaining_loan_value %></td>
	    </tr>

	    <tr>
	      <th>Salary Details</th>
	      <td><%= @case_file.worker.salary_details %></td>
	    </tr>

	    <tr>
	      <th>Sleeping Area</th>
	      <td><%= @case_file.worker.sleeping_area unless @case_file.worker.sleeping_area.empty? %></td>
	    </tr>

	  </tbody>
	</table>

<%- else %>

	<table class="table table-biodata">
	  <tbody class='col-md-12'>

	    <tr>
	      <th>Basic Salary (per month in SGD) </th>
	      <td><%= @case_file.worker.basic_salary %></td>
	    </tr>

	    <tr>
	      <th>Industry</th>
	      <td><%= @case_file.worker.industry %></td>
	    </tr>

	    <tr>
	      <th>Accomodation Type</th>
	      <td><%= @case_file.worker.accomodation_type %></td>
	    </tr>

	    <tr>
	      <th>Origin Agent Fee (in SGD)</th>
	      <td><%= @case_file.worker.origin_agent_fee %></td>
	    </tr>

	    <tr>
	      <th>Local Agent Fee (in SGD)</th>
	      <td><%= @case_file.worker.local_agent_fee %></td>
	    </tr>

	    <tr>
	      <th>Weekly Working Hours</th>
	      <td><%= @case_file.worker.weekly_working_hours %></td>
	    </tr>

	    <tr>
	      <th>Sunday Working Hours</th>
	      <td><%= @case_file.worker.sunday_working_hours %></td>
	    </tr>

	  </tbody>
	</table>

<%- end %>
