<tr class="row case">
  <td><%= case_file.reported_at.to_date.to_s(:long) %> </td>
  <td class="col-md-2"><%= link_to case_file, case_path(case_file) %> </td>
  <td><%= case_file.case_type %> </td>
  <td class="col-md-3">
    <%- case_file.issues.collect do |i| %>
      <p>- <%= i.tag.name %></p>
    <%- end %>
  </td>
  <td><%= case_file.user.name %></td>
  <td>
    <%= link_to 'Edit', edit_case_path(case_file), class: 'btn btn-default btn-sm' if case_file.pending? %>
    <%= case_file.closed_at.to_date.to_s(:long) if case_file.closed? %>
  </td>
</tr>
