<fieldset>
  <div class="row">
    <%= form.input :case_type, as: :radio_buttons_inline, collection: CaseFile::TYPE, wrapper_html: { class: 'col-md-6' } %>
    <%= form.input :reported_at, as: :string, wrapper_html: { class: 'col-md-6' }, input_html: { class: 'datepicker' } %>
  </div>
</fieldset>

<fieldset>

  <legend>Biodata</legend>

  <%= form.simple_fields_for :worker do |ff| %>

    <div class="row">
      <%= ff.input :nationality, wrapper_html: { class: "col-md-6" } %>
      <%= ff.input :fin_number, label: 'FIN Number', wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row">
      <%= ff.input :passport_number, wrapper_html: { class: "col-md-6" } %>
      <%= ff.input :pass_type, wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row">
      <%= ff.input :start_of_employment, as: :string, input_html: { class: 'datepicker' }, wrapper_html: { class: "col-md-3" } %>
      <%= ff.input :days_off, label: 'Days off', wrapper_html: { class: "col-md-3" } %>
      <%= ff.input :previous_employers_details, label: "Previous Employers' Details", wrapper_html: { class: "col-md-6" } %>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
          <legend>Domestic</legend>
            <%= ff.input :loan_value %>
            <%= ff.input :remaining_loan_value %>
            <%= ff.input :salary_details %>
        </div>
        <div class="col-md-6">
          <legend>Non-Domestic</legend>
            <%= ff.input :basic_salary %>
            <%= ff.input :industry %>
            <%= ff.input :accomodation_type %>
            <%= ff.input :origin_agent_fee %>
            <%= ff.input :local_agent_fee %>
            <%= ff.input :weekly_working_hours %>
            <%= ff.input :sunday_working_hours %>
        </div>
    </div>

  <% end %>

</fieldset>

<fieldset>

  <legend>Issues</legend>

  <ul class='list-group'>
    <%= form.simple_fields_for :issues do |issue_fields| %>
      <%= render 'issue_fields', f: issue_fields %>
    <% end %>
  </ul>

  <%= link_to_add_association 'Add Issue', form, :issues, :'data-association-insertion-node' => '.list-group', :'data-association-insertion-method' => 'append', class: 'btn btn-success' %>

</fieldset>
