<fieldset>
  <%= form.input :case_type, label: 'Case Type', as: :radio_buttons, collection: CaseFile::TYPE %>
</fieldset>

<fieldset>

  <legend>Biodata</legend>

  <%= form.simple_fields_for :worker do |ff| %>

    <%= ff.input :type, as: :hidden, input_html: { value: 'DomesticWorker' } %>

    <div class="row">
      <%= ff.input :nationality, wrapper_html: { class: "col-md-6" } %>
      <%= ff.input :fin_number, label: 'FIN Number', wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row">
      <%= ff.input :passport_number, wrapper_html: { class: "col-md-6" } %>
      <%= ff.input :pass_type, wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row">
      <%= ff.input :start_of_employment, label: 'Start of Employment', wrapper_html: { class: "col-md-3" } %>
      <%= ff.input :days_off, label: 'Days off', wrapper_html: { class: "col-md-3" } %>
      <%= ff.input :previous_employers_details, label: 'Previous Employers Details', wrapper_html: { class: "col-md-6" } %>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
          <legend>Domestic</legend>
            <%= ff.input :loan_value, label: 'Loan Value' %>
            <%= ff.input :remaining_loan_value, label: 'Remaining Loan Value' %>
            <%= ff.input :salary_details, label: 'Salary Details' %>
        </div>
        <div class="col-md-6">
          <legend>Non-Domestic</legend>
            <%= ff.input :basic_salary, label: 'Basic Salary' %>
            <%= ff.input :industry, label: 'Industry' %>
            <%= ff.input :accomodation_type, label: 'Accomodation Type' %>
            <%= ff.input :origin_agent_fee, label: 'Origin Agent Fee' %>
            <%= ff.input :local_agent_fee, label: 'Local Agent Fee' %>
            <%= ff.input :weekly_working_hours, label: 'Weekly Working Hours' %>
            <%= ff.input :sunday_working_hours, label: 'Sunday Working Hours' %>
        </div>
    </div>

  <% end %>

</fieldset>

<fieldset>

  <legend>Issues</legend>

  <ul class='list-group'>
    <%= form.simple_fields_for :issues do |issue_fields| %>
      <%= render 'issue_fields', f: issue_fields %>
    <% end %>
  </ul>

  <%= link_to_add_association 'Add Issue', form, :issues, :'data-association-insertion-node' => '.list-group', :'data-association-insertion-method' => 'append', class: 'btn btn-success' %>

</fieldset>
