<div class='well well-default'>

  <div class='row'>
    <div class='col-md-10'>
      <h3><%= link_to organization.name, organization_path(organization) %></h3>
    </div>
    <div class='col-md-1 pull-right'>
      <h3><%= link_to 'Remove', case_involvement_path(involvement.case_file, involvement), method: :delete, class: 'btn btn-danger btn-xs pull-right', style: 'color: #FFFFFF', data: {confirm: "Are you sure?"} if @case_file.pending? %></h3>
    </div>
  </div>

  <table class="table table-noline">
    <tbody>

      <tr>
        <th>Industry</th>
        <td><%= organization.industry %></td>
      </tr>

      <tr>
        <th>Address</th>
        <td><%= organization.address %></td>
      </tr>

      <tr>
        <th>Contact</th>
        <td><%= organization.phone %></td>
      </tr>

      <tr>
        <th>Email</th>
        <td><%= organization.email %></td>
      </tr>

    </tbody>
  </table>

</div>
