<div class="row nested-fields">

  <div class="col-md-6">

	  <%= ff.input :basic_salary, label: 'Basic Salary (per month in SGD)' %>
	  <%= ff.input :industry %>
	  <%= ff.input :accomodation_type %>
	  <%= ff.input :origin_agent_fee, label: 'Origin Agent Fee (in SGD)' %>
	  <%= ff.input :local_agent_fee, label: 'Local Agent Fee (in SGD)' %>
	  <%= ff.input :weekly_working_hours %>
	  <%= ff.input :sunday_working_hours %>

	</div>

</div>
