<legend>Information for Non-Domestic Workers</legend>

<div class="row">
  <%= ff.input :basic_salary_per_month, label: 'Basic Salary (per month in SGD)', wrapper_html: { class: "col-md-4" } %>
  <%= ff.input :basic_salary_per_day, label: 'Basic Salary (per day in SGD)', wrapper_html: { class: "col-md-4" } %>
  <%= ff.input :industry, wrapper_html: { class: "col-md-4" } %>
</div>

<%= ff.input :accomodation_type %>

<div class="row">
  <%= ff.input :origin_agent_fee, label: 'Origin Agent Fee (in SGD)', wrapper_html: { class: "col-md-6" } %>
  <%= ff.input :local_agent_fee, label: 'Local Agent Fee (in SGD)', wrapper_html: { class: "col-md-6" } %>
</div>

<div class="row">
  <%= ff.input :weekly_working_hours, wrapper_html: { class: "col-md-6" } %>
  <%= ff.input :sunday_working_hours, wrapper_html: { class: "col-md-6" } %>
</div>
