<div class='page-header'>
  <div class='container'>
    <h1>Edit Case Number <%= @case.id%></h1>
    <%= link_to 'Back to Case', case_path(@case), class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <%= simple_form_for @case, url: case_path(@case) do |f| %>

      <div class='panel-heading'>
        <h2>Case Details</h2>
      </div>

      <div class='panel-body'>
        <%= render partial: 'form', object: f %>
      </div>

      <div class='panel-footer'>
        <%= link_to 'Cancel', case_path(@case), class: 'btn btn-default' %>
        <%= f.submit 'Save Changes', class: 'btn btn-primary pull-right' %>
      </div>

    <%- end %>
  </div>
</div>