<div class='page-header'>
  <div class='container'>
    <h1>Edit Case Number <%= @case.id%></h1>
    <%= link_to 'Back to Case', case_path(@case), class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>
  <div class='row'>

    <div class='col-xs-6'>
      <%= simple_form_for @case, url: case_path(@case) do |f| %>

        <%= f.input :case_type, label: 'Case Type', as: :radio_buttons, collection: CaseFile::TYPE%>

      <h3>Related Issues</h3>

        <%= f.simple_fields_for :issues do |issue_fields| %>
          <%= render 'issue_fields', f: issue_fields%>
        <% end %>

        <p>
          <%= link_to_add_association 'Add Issue', f, :issues, class: 'btn btn-default' %>
        </p>

        <p>
          <%= select('case_file', 'person_id', @people.collect {|p| [p.name, p.id] }, class: 'select-people') %>
        </p>

        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>   