<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>

      <%= simple_form_for @case, url: case_path(@case) do |f| %>

        <%= f.input :case_type %>

        <%= f.simple_fields_for :issues do |issue_fields| %>

          <%= issue_fields.input :description %>

        <% end %>
       
        <%= f.submit 'Save', class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
</div>   