<div class='page-header'>
  <div class='container'>
    <h1>Cases</h1>
      <%= link_to 'New Case', new_case_path, class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>

  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h2>All Cases</h2>
    </div>

    <div class='panel-body'>
      <table class='table table-responsive table-striped'>

        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <%- @cases.each do |c| %>
            <tr>
              <td><%= link_to c.id, case_path(c) %> </td>
              <td><%= c.case_type %> </td>
              <td><%= c.status %></td>
              <td><%= link_to 'Edit', edit_case_path(c) %></td>
            </tr>
          <% end %>
        </tbody>
      
      </table>
    </div>    
  </div>  
</div>