<div class='page-header'>
  <div class='container'>
    <h1>Pending Cases</h1>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'New Case', new_case_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<!-- filter by case_type -->
<div class='container'>
  <div class="row">
    <div class="col-md-3">
      <%= simple_form_for :search, url: cases_path, method: :get, enforce_utf8: false, remote: true do |f| %>
        <%= f.input params[:search], collection: CaseFile::TYPE, include_blank: false, prompt: 'Filter by Case Type' %>
        <%= f.submit 'Search', name: nil %>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <table class='table table-default' id='pending-cases'>
        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Client</th>
            <th>Employer</th>
            <th>Assigned To</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "cases/case_file", collection: @cases %>
        </tbody>
      </table>

    </div>
  </div>
</div>
