<div class='page-header'>
  <div class='container'>
    <h1>Pending Cases</h1>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'New Case', new_case_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <table class='table table-default'>
        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Client</th>
            <th>Employer</th>
            <th>Assigned To</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @cases.where(status: :pending).each do |c| %>
            <tr>
              <td><%= link_to c.id, case_path(c) %> </td>
              <td><%= c.case_type %> </td>
              <td><%= c.client.try(:involvable).try(:name) %></td>
              <td><%= c.employer.try(:involvable).try(:name) %></td>
              <td><%= c.user.name %></td>
              <td><%= link_to 'Edit', edit_case_path(c), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
