<div class='page-header'>
  <div class='container'>
    <h1>Cases</h1>
    <%= link_to 'New Case', new_case_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">
            <span>Pending</span>
            <span class="badge"><%= @cases.where(status: "Pending").count %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">
            <span>Closed</span>
            <span class="badge"><%= @cases.where(status: "Closed").count %></span>
          </a>
        </li>
      </ul>
        
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active table-responsive" id="pending">

          <table class='table table-default'>
            <thead>
              <tr>
                <th>Case Number</th>
                <th>Case Type</th>
                <th>Client</th>
                <th>Employer</th>
                <th>Assigned To</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @cases.where(status: "Pending").each do |c| %>
                <tr>
                  <td><%= link_to c.id, case_path(c) %> </td>
                  <td><%= c.case_type %> </td>
                  <td><%= Person.find_by(id: Involvement.find_by(role: 0, case_id: c.id).try(:involvable_id)).try(:name) %></td>
                  <td>
                    <%= Person.find_by(id: Involvement.find_by(role: 1, case_id: c.id).try(:involvable_id)).try(:name) %>
                    <%= Organization.find_by(id: Involvement.find_by(role: 1, case_id: c.id).try(:involvable_id)).try(:name) %>                                      
                  </td>
                  <td><%= c.user.name %></td>
                  <td><%= link_to 'Edit', edit_case_path(c), class: 'btn btn-default btn-sm' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

        <div role="tabpanel" class="tab-pane table-responsive" id="closed">

          <table class='table table-default'>
            <thead>
              <tr>
                <th>Case Number</th>
                <th>Case Type</th>
                <th>Client</th>
                <th>Employer</th>
                <th>Assigned To</th>
              </tr>
            </thead>

            <tbody>
              <% @cases.where(status: "Closed").each do |c| %>
                <tr>
                  <td><%= link_to c.id, case_path(c) %> </td>
                  <td><%= c.case_type %> </td>
                  <td><%= Person.find_by(id: Involvement.find_by(role: 0, case_id: c.id).try(:involvable_id)).try(:name) %></td>
                  <td>
                    <%= Person.find_by(id: Involvement.find_by(role: 1, case_id: c.id).try(:involvable_id)).try(:name) %>
                    <%= Organization.find_by(id: Involvement.find_by(role: 1, case_id: c.id).try(:involvable_id)).try(:name) %>                  
                  </td>
                  <td><%= c.user.name %></td>
                  <td><%= link_to 'Edit', edit_case_path(c), class: 'btn btn-default btn-sm' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
