<div class='page-header'>
  <div class='container'>
    <h1>Pending Cases</h1>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'New Case', new_case_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <%= form_tag cases_path, method: :get, enforce_utf8: false, remote: true do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <table class='table table-default' id='pending-cases'>
        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Client</th>
            <th>Employer</th>
            <th>Assigned To</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "cases/case_file", collection: @cases %>
        </tbody>
      </table>

    </div>
  </div>
</div>
