<div class='page-header'>
  <div class='container'>
    <h1>Create New Case</h1>
    <%= link_to 'Back to All Cases', cases_path, class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>

  <%= simple_form_for @case, url: cases_path do |f| %>

    <%= f.input :case_type, label: 'Case Type', as: :radio_buttons, collection: CaseFile::TYPE %>
    
    <h3>Related Issues</h3>

    <div class='col-xs-6'>
      <%= f.simple_fields_for :issues do |issue_fields| %>
        <%= render 'issue_fields', f: issue_fields %>
      <%- end %>

      <p>
        <%= link_to_add_association 'Add Issue', f, :issues, class: 'btn btn-default' %>
      </p>

      <%= f.submit 'Save', class: 'btn btn-primary' %>

    </div>
  <% end %>
</div>
