<div class='page-header'>
  <div class='container'>
    <h1>Create New Case</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-6'>
        <p>
          <strong>Case Number: </strong><%= CaseFile.last.id + 1 %>
        </p>

      <%= simple_form_for @case, url: cases_path do |f| %>

        <%= f.input :case_type, label: 'Case Type', as: :radio_buttons, collection: CaseFile::TYPE%>
        <%= f.input :status, as: :radio_buttons, collection: CaseFile::STATUS%>

      <table class='table table-responsive table-striped'>
        <thead>
          <tr>
            <th>Add Issue</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <%= f.simple_fields_for :issues do |i| %>
              <td><%= i.input :description %></td>              
            <% end %>
          </tr>
        <tbody>
      </table>
     
      <%= f.submit 'Save', class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
</div>   