<div class='page-header'>
  <div class='container'>
    <h1>Create New Case</h1>
    <%= link_to 'Back to All Cases', cases_path, class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <%= simple_form_for @case, url: cases_path do |f| %>

      <div class='panel-heading'>
        <h2>Case Details</h2>
      </div>

      <div class='panel-body'>
        <%= render partial: 'form', object: f %>
      </div>

      <div class='panel-footer'>
        <%= link_to 'Cancel', cases_path, class: 'btn btn-default' %>
        <%= f.submit 'Create Record', class: 'btn btn-primary pull-right' %>
      </div>

    <% end %>
  </div>
</div>
