<div class='page-header'>
  <div class="container">
    <h1>Case Number <%= @case.id%></h1>
    <%= link_to 'Edit Case', edit_case_path(@case), class: 'btn btn-default' %>

    <%- if @case.status == "Pending" %>
      <%= link_to 'Close Case', close_case_path(@case), method: :put, class: 'btn btn-danger' %>
    <%end%>

  </div>
</div>

<div class="container">
  <div class="row">

    <!-- BEGIN LEFT COLUMN -->
    <div class="col-md-9">
      <!-- BEGIN CASE INFORMATION -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Case Information</h2>
        </div>
        <div class="table-responsive">
          <table class="table table-default">
            <tbody>
              <tr>
                <td>Case Type</td>
                <td><%= @case.case_type %></td>
              </tr>
              <tr>
                <td>Status</td>
                <td><%= @case.status %></td>
              </tr>
              <tr>
                <td>Assigned To</td>
                <td id='assigned_user'>
                  <%= @case.user.name %>
                  &nbsp&nbsp&nbsp
                  <% if current_user.is_admin? %>
                    <%= link_to 'Reassign', reassign_admin_case_path(@case), remote: true, class: 'btn btn-primary' %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END CASE INFORMATION -->
      <!-- BEGIN ISSUES -->
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2>Related Issues</h2>
        </div>

        <ul class='list-group'>
          <%- @issues.order('id ASC').each do |i| %>
            <li class='list-group-item'>
              <strong><%= i.tag.name %></strong>
              <p><%= i.description %></p>
            </li>
          <%- end %>
        </ul>

      </div>
      <!-- END ISSUES -->

    <!-- BEGIN MAIN CLIENT/EMPLOYER -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <h2>Client</h2>
            </div>
            <div class="col-md-6">
              <h2>Employer</h2>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
          <!-- RELATED PEOPLE: CLIENT -->
            <div class="col-md-6">
              <%- if @client.nil? %>
                <%= link_to 'Add Client', new_case_involvement_path(@case), class: 'btn btn-primary'%>
<!-- to work on add client -->
              <%- else %>
                <% @client.each do |e| %>
                  <h3>
                    <%= link_to Person.find(e.involvable_id).name, person_path(e.involvable_id) %>
                    <%= link_to 'REMOVE', case_involvement_path(@case, e), method: :delete, class: 'btn btn-danger btn-xs' %>
                  </h3>
                  <p> DOB: 
                    <%= Person.find(e.involvable_id).date_of_birth.to_formatted_s(:rfc822) unless Person.find(e.involvable_id).date_of_birth == nil %>
                  </p>                
                  <p> Gender: <%= Person.find(e.involvable_id).gender.titleize %></p>
                  <p> Email:  <%= Person.find(e.involvable_id).email %></p>
                  <p> Contact: <%= Person.find(e.involvable_id).phone %></p>
                <% end %>
              <%- end %>
            </div>
          <!-- RELATED PEOPLE/ORG: EMPLOYER) -->
            <div class="col-md-6">
              <%- if @employer.nil? %>
                <%= link_to 'Add Employer', new_case_involvement_path(@case, role: 0), class: 'btn btn-primary' %>
<!-- to work on add employer -->
            <!-- RELATED PEOPLE/ORG: EMPLOYER - if employer is Person) -->
              <%- elsif @employer.first.involvable_type == "Person" %>
                <% @employer.each do |e| %>
                  <h3>
                    <%= link_to Person.find(e.involvable_id).name, person_path(e.involvable_id) %>
                    <%= link_to 'REMOVE', case_involvement_path(@case, e), method: :delete, class: 'btn btn-danger btn-xs' %>
                  </h3>
                  <p> DOB: 
                    <%= Person.find(e.involvable_id).date_of_birth.to_formatted_s(:rfc822) unless Person.find(e.involvable_id).date_of_birth == nil %>
                  </p>                
                  <p> Gender: <%= Person.find(e.involvable_id).gender.titleize %></p>
                  <p> Email:  <%= Person.find(e.involvable_id).email %></p>
                  <p> Phone: <%= Person.find(e.involvable_id).phone %></p>
                  <p> Address:  <%= Person.find(e.involvable_id).address %></p>
                <% end %>
            <!-- RELATED PEOPLE/ORG: EMPLOYER - if employer is Organization) -->
              <%- else %>
                <% @employer.each do |e| %>
                  <h3>
                    <%= link_to Organization.find(e.involvable_id).name, organization_path(e.involvable_id) %>
                    <%= link_to 'remove', case_involvement_path(@case, e), method: :delete, class: 'btn btn-primary btn-xs' %>
                  </h3>
                  <p> Phone: <%= Organization.find(e.involvable_id).phone %></p>
                  <p> Address:  <%= Organization.find(e.involvable_id).address %></p>
                  <p> Industry:  <%= Organization.find(e.involvable_id).industry %></p>
                <% end %>
              <%- end %>
            </div>
          </div>
        </div>
      </div>
    <!-- END RELATED CLIENT/EMPLOYER -->

    <!-- BEGIN RELATED PEOPLE/ORG -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <h2>Related People
                  &nbsp&nbsp&nbsp
                  <%= link_to 'Add', new_case_involvement_path(@case), class: 'btn btn-primary btn-sm', remote: true %>
<!-- link to add not working -->
              </h2>
            </div>
            <div class="col-md-6">
              <h2>Related Organizations
                  &nbsp&nbsp&nbsp
                  <%= link_to 'Add', new_case_involvement_path(@case), class: 'btn btn-primary btn-sm', remote: true %>
              </h2>
<!-- link to add not working -->
              </h2>

            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
          <!-- RELATED PEOPLE (only where role: others) -->
            <div class="col-md-6">
              <ul>
                <%- unless @others.nil? %>
                  <% @others.where(involvable_type: "Person").each do |i| %>
                    <li>
                      <%= link_to Person.find(i.involvable_id).name, person_path(i.involvable_id) %>
                      <%= link_to '(remove)', case_involvement_path(@case, i), method: :delete %>
                    </li> 
                  <% end %>
                <%- end %>
              </ul>
            </div>
          <!-- RELATED ORG (only where role: others) -->
            <div class="col-md-6">
              <ul>
                <%- unless @others.nil? %>
                  <% @others.where(involvable_type: "Organization").each do |i| %>
                    <li>
                      <%= link_to Person.find(i.involvable_id).name, person_path(i.involvable_id) %>
                      <%= link_to '(remove)', case_involvement_path(@case, i), method: :delete %>
                    </li> 
                  <% end %>
                <%- end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- END RELATED PEOPLE/ORG -->

      <!-- BEGIN FOLLOW UP -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <h2>Follow Ups</h2>
            </div>            
            <div class="col-md-2">
              <%= link_to "Add Follow Up", new_case_follow_up_path(@case), class: 'btn btn-primary' %>
            </div>            
          </div>
        </div>

        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-default">
              <thead>
                <th>Date</th>
                <th>Description</th>
                <th>Created By</th>
              </thead>
              <tbody>
                  <%- @case.follow_ups.each do |fu| %>
                  <tr>
                    <td class='col-md-2'><%= fu.created_at.to_date.to_formatted_s(:rfc822)%></td>
                    <td class='col-md-7'><%= fu.description %></td>
                    <td class='col-md-3'><%= fu.user.name %></td>
                  </tr>
                  <%- end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END FOLLOW UP -->

    </div>
    <!-- END LEFT COLUMN -->
    <!-- BEGIN FILES -->
    <div class="col-md-3">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2>FILES</h2>
        </div>

        <ul id='links' class="list-group">
          <% @case.links.each do |i| %>
            <li class="list-group-item">
              <%= link_to i.filename, i.url %>
            </li>
          <% end %>
        </ul>

        <div class="panel-body">
          <%= form_for([@case, @case.links.build], url: case_links_path(@case)) do |f| %>
            <input id='caseId' type='hidden' data-case-id='<%= @case.id %>'>
            <input id='upload' type='button' class='btn btn-primary btn-block' value='Upload New File'>
          <% end %>
        </div>

      </div>
    </div>
    <!-- END FILES -->

  </div>
</div>
