<div class='page-header'>

  <div class="container">
    <h1 class="pull-left">Case #<%= @case_file.id %></h1>
    <div class="pull-right">
      <%= link_to 'Edit Case', edit_case_path(@case_file), class: 'btn btn-default' if @case_file.pending? %>
      <%= link_to 'Close Case', new_case_closure_path(@case_file), remote: true, class: 'btn btn-danger' if @case_file.pending? %>
      <%= link_to 'Reopen Case', reopen_admin_case_path(@case_file), method: :put, class: 'btn btn-danger', data: { confirm: "Are you sure?" } if current_user.is_admin? && @case_file.closed? %>
    </div>
  </div>

  <!-- *Case Information -->
  <div class='page-header-list'>
    <div class='container'>
      <ul class="list-inline">

        <li>
          <span>Case Type</span>
          <strong><%= @case_file.case_type %></strong>
        </li>

        <li>
          <span>Status</span>
          <strong><%= @case_file.status %></strong>
        </li>

        <%- if @case_file.reported_at %>
          <li>
            <span>Reported at</span>
            <strong><%= @case_file.reported_at.to_date.to_formatted_s(:long) %></strong>
          </li>
        <%- end %>

        <li>
          <span>Assigned to</span>
          <strong><%= @case_file.user.name %></strong>
          <%= link_to 'Reassign', reassign_admin_case_path(@case_file), remote: true, class: 'btn btn-primary btn-sm' if current_user.is_admin? && @case_file.pending? %>
        </li>

      </ul>
    </div>
  </div>
  <!-- Case Information* -->

</div>

<div class='container'>

  <div class="panel panel-default">
    <div class='panel-body'>

      <!-- *Tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#biodata" aria-controls="biodata" role="tab" data-toggle="tab">
            <span>Client Biodata</span>
          </a>
        </li>

        <li role="presentation">
          <a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">
            <span>Issues</span>
            <span class="badge"><%= @issues.count %></span>
          </a>
        </li>

        <li role="presentation">
          <a href="#followups" aria-controls="followups" role="tab" data-toggle="tab">
            <span>Follow Ups</span>
            <span class="badge"><%= @case_file.follow_ups.count %></span>
          </a>
        </li>

        <li role="presentation">
          <a href="#related" aria-controls="related" role="tab" data-toggle="tab">
            <span>People/Organizations</span>
            <span class="badge"><%= @case_file.involvements.others.count %></span>
          </a>
        </li>

        <li role="presentation">
          <a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">
            <span>Documents</span>
            <span class="badge"><%= @case_file.links.count %></span>
          </a>
        </li>
      </ul>
      <!-- Tabs* -->

      <!-- *Tab Content -->
      <div class="tab-content">

        <!-- BIODATA -->
          <div role="tabpanel" class="tab-pane active table-responsive" id="biodata">
            <%= render partial: 'biodata' %>
          </div>
        <!-- BIODATA -->

        <!-- ISSUES -->
          <div role="tabpanel" class="tab-pane table-responsive" id="issues">
            <ul class='list-group'>
              <%- @issues.each do |i| %>
                <li class='list-group-item'>
                  <strong><%= i.tag.name %></strong>
                  <p><%= i.description %></p>
                </li>
              <%- end %>
            </ul>
          </div>
        <!-- ISSUES -->

        <!-- FOLLOW UPS -->
        <div role="tabpanel" class="tab-pane table-responsive" id="followups">
          <table id='follow-ups' class="table table-default">
            <thead>
              <th>Date</th>
              <th>Updated By</th>
              <th>Description</th>
            </thead>
            <tbody>
              <%= render partial: 'follow_up', collection: @case_file.follow_ups.order(created_at: :desc) %>
            </tbody>
          </table>
          <hr/>
          <%- if @case_file.pending? %>
            <%= link_to "Add Follow Up", new_case_follow_up_path(@case_file), class: 'btn btn-success pull-right', remote: true %>
          <%- end %>
        </div>
        <!-- FOLLOW UPS -->

        <!-- PPL/ORG -->
        <div role="tabpanel" class="tab-pane table-responsive" id="related">

          <table id='others-info' class="table table-default">
            <thead>
              <th>Name</th>
              <th>Role</th>
              <th>Contact number</th>
              <th>Email</th>
              <th></th>
            </thead>
            <tbody>
              <%= render partial: 'other', collection: @case_file.involvements.others %>
            </tbody>
          </table>

          <hr/>

          <%- if @case_file.pending? %>
            <div class='pull-right'>
              <%= link_to 'Add Person', new_case_involvement_path(@case_file, involvement: { role: :others, involvable_type: 'Person' }), remote: true, class: 'btn btn-success' %>
              <%= link_to 'Add Organization', new_case_involvement_path(@case_file, involvement: { role: :others, involvable_type: 'Organization' }), remote: true, class: 'btn btn-success' %>
            </div>
          <%- end %>

        </div>
        <!-- PPL/ORG -->

        <!-- FILES -->
        <div role="tabpanel" class="tab-pane" id="documents">

          <div class="row">
            <%- @case_file.links.each do |i| %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <%= filepicker_image_tag i.url, w: 350, h: 250, fit: 'crop', alt: i.filename %>
                  <div class="caption">
                    <p><%= i.filename %></p>
                    <%= link_to 'Download', i.url, class: 'btn btn-default' %>
                    <%= link_to 'Remove', case_link_path(@case_file, i), class: 'btn btn-danger pull-right', method: :delete %>
                  </div>
                </div>
              </div>
            <%- end %>
          </div>

          <hr />

          <%- if @case_file.pending? %>
            <%= form_for [@case_file, @case_file.links.build], url: case_links_path(@case_file) do |f| %>
              <div class='pull-right'>
                <%= f.filepicker_field :url, onchange: 'onPhotoUpload(event)', multiple: false %>
              </div>
              <%= f.hidden_field :filename, as: :hidden %>
              <%= f.hidden_field :mimetype, as: :hidden %>
              <%= f.hidden_field :size, as: :hidden %>
            <%- end %>
          <%- end %>

        </div>
        <!-- FILES -->

      </div>
      <!-- Tab Content -->

    </div>
  </div>
</div>

<%= render partial: "cases/involvements/#{@case_file.case_type.underscore}" %>

<%- if @case_file.closed? %>
  <div class="container">

    <div class="panel panel-default">
      <div class='panel-body'>
        <h4>Resolution Notes (<%= @case_file.closed_at.to_s(:short) %>)</h4>
        <hr />
        <p><%= @case_file.resolution %></p>
      </div>
    </div>

  </div>
<%- end %>
