<div class='page-header'>
  <div class='container'>
    <h1>Case Number <%= @case.id%></h1>

    <%= link_to 'Edit Case', edit_case_path(@case), class: 'btn btn-primary' %>
  </div>
</div>

<div class='container'>

  <div class='row'>

    <table class='table table-responsive'>
      <thead><h3>Case Information</h3></thead>
      <tbody>
        <tr>
          <td>Case Type</td>
          <td><%= @case.case_type %></td>
        </tr>

        <tr>
          <td>Status</td>
          <td><%= @case.status %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Related Issues</h3>
    <% @case.issues.each do |i| %>
      <li>
        <%= i.description %>
      </li>
    <% end %>

  <div class='row'>
    <div class='col-xs-12'>
      <h3>Files</h3>
      <div id='links'>
        <%= render @case.links %>
      </div>
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-xs-12'>  
      <%= form_for([@case, @case.links.build]) do |f| %>
        <input id='caseId' type='hidden' data-case-id='<%= @case.id %>'>
        <input id='upload' type='button' class='btn btn-primary' value='Upload New File'>
      <% end %>
     </div>
   </div>

</div>
