<div class='page-header'>
  <div class='container'>
    <h1>Case Number <%= @case.id%></h1>

    <%= link_to 'Edit Case', edit_case_path(@case), class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>
  <div class="col-sm-6">
    <table class='table table-responsive'>
      <thead><h3>Case Information</h3></thead>
      <tbody>
        <tr>
          <td>Case Type</td>
          <td><%= @case.case_type %></td>
        </tr>

        <tr>
          <td>Status</td>
          <td><%= @case.status %></td>
        </tr>
      </tbody>
    </table>

    <h3>Related Issues</h3>
    <% @case.issues.each do |i| %>
      <li><%= i.description %></li>
    <% end %>

  </div>
</div>

