<div class='page-header'>
  <div class='container'>
    <h1>
      <div class="col-sm-3"> Case Number </div>
      <div class="col-sm-3"> <%= @case.id%> </div>
    </h1>
  </div>
</div>

<div class='container'>
  <div class="col-sm-6">
    <%= link_to 'Edit Case', edit_case_path(@case) %>

    <table class='table table-responsive'>
      <thead><h3>Case Information</h3></thead>
      <tbody>
        <tr>
          <td>Case Type</td>
          <td><%= @case.case_type %></td>
        </tr>

        <tr>
          <td>Status</td>
          <td><%= @case.status %></td>
        </tr>
      </tbody>
    </table>

    <h3>Related Issues</h3>
    <% @case.issues.each do |i| %>
      <ul><%= i.description %></ul>
    <% end %>

  </div>
</div>

