<div class='page-header'>    
  <div class="container">
    <h1>Case Number <%= @case.id%></h1>
    <%= link_to 'Edit Case', edit_case_path(@case), class: 'btn btn-primary' %>

    <%- if @case.status == "Pending" %>
      <%= link_to 'Close Case', close_case_path(@case), method: :put, class: 'btn btn-primary' %>
    <%end%>
    <% if current_user.is_admin? %>
       <%= link_to 'Reassign Case', reassign_admin_case_path(@case), remote: true, class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">

    <!-- BEGIN LEFT COLUMN -->
    <div class="col-md-9">
      <!-- BEGIN CASE INFORMATION -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Case Information</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-default">
            <tbody>
              <tr>
                <td>Case Type</td>
                <td><%= @case.case_type %></td>
              </tr>
              <tr>
                <td>Status</td>
                <td><%= @case.status %></td>
              </tr>
              <tr>
                <td>Assigned To</td>
                <td id='assigned_user'><%= @case.user.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END CASE INFORMATION -->

      <!-- BEGIN RELATED PEOPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Related People</h3>
        </div>
        <ul class="list-group">
          <% @case.people.each do |p| %>
            <li class="list-group-item">
              <p><%= p %></p>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- END RELATED PEOPLE -->      

      <!-- END ADD PERSON -->  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Add Person</h3>
        </div>
        <div class="panel-body">

          <%= simple_form_for @case, url: update_people_case_path(@case) do |f| %>
            <%= select('case_file', 'person_id', @people.collect {|p| [p.name, p.id] }, {}, {class: 'select-people'}) %>
            <br>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <!-- END ADD PERSON -->  
    </div>  
    <!-- END LEFT COLUMN -->

  </div>
</div>
