<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Add Follow Up to Case</h1>
        </div>
      </div>

      <%= simple_form_for [@case, @action], as: :act do |f| %>
      <div class="row">
        <div class="col-sm-2">  
      	    <strong>Case Number:</strong>
        </div>
        <div class="col-sm-4">
            <%= @action.case_id %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
      	  <strong>Created by:</strong> 
        </div>
        <div class="col-sm-4">
          <p><%= current_user.name %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">
      	    <p><%= f.input :description %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
      	    <p><strong>*</strong> required fields</p>
      	    <%= f.button :submit, 'Add Follow Up' %>
        	<% end %>
          <p style="padding-top: 10px"><%= link_to 'Go Back to Case', case_path(@case)%></p>
        </div>
      </div>

    </div>
  </body>
</html>