<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <h1>New Case Update</h1>
 
    <%= simple_form_for @action, as: :act do |f| %>
	    <p><strong>Case Number:</strong> <%= @action.case_id %></p>
	    <p><strong>Created by:</strong> <%= current_user.name %></p>
	    <%= f.input :description %>
	    <%= f.input :status, collection: [:Pending, :Closed] %>
	    <p><strong>*</strong> required fields</p>
	    <%= f.submit "Update Case" %>
  	<% end %>

    <%= link_to 'Back to Case', case_path(@case)%>

  </body>
</html>