<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <h1>New Case Update</h1>
 
    <%= simple_form_for @action, url: {action: "new"} do |f| %>
	  <p>Case Number: <%= @action.case_id %></p>
	  <p>Created by: <%= @action.user %></p>
	  <%= f.input :description %>
	  <%= f.input :status, collection: [:Pending, :Closed] %>
	  <p><em>*</em> required fields</p>
	  <%= f.button :button, "Submit Update" %>
<!--to link to create?-->
	<% end %>

  </body>
</html>