<div class='page-header'>    
  <div class="container">
    <h1>All Tags</h1>
    <%= link_to 'New Tag', new_admin_tag_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit Tag', select_admin_tags_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class='container'>
  <%- @tags.where(parent_id: nil).each do |f|%>
    <div class="col-md-6">
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h4>Category: <%= f.name %></h4>
        </div>

        <div class='panel-body'>
            <%- f.children.each do |g|%>
              <ul>
                <li><%= g.name %></li>
                <%- g.children.each do |h|%>
                  <ul>
                    <li><%= h.name %></li>
                  </ul>
                <%- end %>
              </ul>
          <%- end %>
        </div>
      </div>
    </div>
  <%- end %>
</div>
