<div class='page-header'>    
  <div class="container">
    <h1>All Tags</h1>
    <%= link_to 'New Tag', new_admin_tag_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class='container'>
  <%- @tags.where(parent_id: nil).each do |f|%>
    <div class="col-md-6">
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h4>
            Category: 
            <a href="/admin/tags/<%= f.id %>/edit" data-toggle="popover" title="Description" data-trigger="hover" data-placement="top" data-content= '<%= f.description %>'>
              <%= f.name %> <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </h4>
        </div>

        <div class='panel-body'>
            <%- f.children.each do |g|%>
              <ul>
                <li>
                  <a href="/admin/tags/<%= g.id %>/edit" data-toggle="popover" title="Description" data-trigger="hover" data-placement="top" data-content= '<%= g.description %>'>
                    <%= g.name %> <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </li>
                <%- g.children.each do |h|%>
                  <ul>
                    <li>
                      <a href="/admin/tags/<%= h.id %>/edit" data-toggle="popover" title="Description" data-trigger="hover" data-placement="top" data-content= '<%= h.description %>'>
                        <%= h.name %> <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </li>
                  </ul>
                <%- end %>
              </ul>
          <%- end %>
        </div>
      </div>
    </div>
  <%- end %>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>