<div class='page-header'>
  <div class='container'>
    <h1>Create New Tag</h1>
    <h4>Step 2: Input Name and Description</h4>
  </div>
</div>

<div class='container'>

  <%= simple_form_for [:admin, @tag] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
    
    <%= f.submit 'Create Tag', class: 'btn btn-primary' %>
  <%- end %>

</div>

