<div class='form-layout'>

  <div class='row'>
    <div class='col-md-6'>
      <label>Nationality</label>
      <span><%= presenter.nationality %></span>
    </div>
    <div class='col-md-6'>
      <label>FIN Number</label>
      <span><%= presenter.fin_number %></span>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <label>Passport Number</label>
      <span><%= presenter.passport_number %></span>
    </div>
    <div class='col-md-6'>
      <label>Pass Type</label>
      <span><%= presenter.pass_type %></span>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <label>Date of Arrival to Singapore</label>
      <span><%= presenter.date_of_arrival %></span>
    </div>
    <div class='col-md-4'>
      <label>Start of Employment</label>
      <span><%= presenter.start_of_employment %></span>
    </div>
    <div class='col-md-4'>
      <label>Days off per month</label>
      <span><%= presenter.days_off %></span>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <label>Previous Employers Details</label>
      <span><%= presenter.previous_employers_details %></span>
    </div>
  </div>

</div>

<%- if presenter.case_file.domestic? %>

  <div class='form-layout'>

    <legend>Information for Domestic Workers</legend>

    <div class='row'>
      <div class='col-md-4'>
        <label>Date of Arrival to HOME</label>
        <span><%= presenter.date_of_arrival %></span>
      </div>
      <div class='col-md-4'>
        <label>Interview Conducted By</label>
        <span><%= presenter.interview_conducted_by %></span>
      </div>
      <div class='col-md-4'>
        <label>Date of Interview</label>
        <span><%= presenter.date_of_interview %></span>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-12'>
            <label>Preferred Language</label>
            <span><%= presenter.preferred_language %></span>
          </div>
          <div class='col-md-6'>
            <label>Transfer Requested</label>
            <span><%= presenter.transfer_required? %></span>
          </div>
          <div class='col-md-6'>
            <label>Repatriation Requested</label>
            <span><%= presenter.repatriation_required? %></span>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <label>English Proficiency</label>
        <span><%= presenter.english_proficiency %></span>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-6'>
            <label>Loan Value (in SGD)</label>
            <span><%= presenter.loan_value %></span>
          </div>
          <div class='col-md-6'>
            <label>Remaining Loan Value (in SGD)</label>
            <span><%= presenter.remaining_loan_value %></span>
          </div>
          <div class='col-md-12'>
            <label>Salary Details</label>
            <span><%= presenter.salary_details %></span>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <label>Sleeping Area</label>
        <span><%= presenter.sleeping_area %></span>
      </div>
    </div>

  </div>

<%- else %>

  <div class='form-layout'>

    <legend>Information for Non-Domestic Workers</legend>

    <div class='row'>
      <div class='col-md-6'>
        <label>Basic Salary (per month in SGD)</label>
        <span><%= presenter.basic_salary %></span>
      </div>
      <div class='col-md-6'>
        <label>Industry</label>
        <span><%= presenter.industry %></span>
      </div>
    </div>

    <label>Accomodation Type</label>
    <span><%= presenter.accomodation_type %></span>

    <div class='row'>
      <div class='col-md-6'>
        <label>Origin Agent Fee (in SGD)</label>
        <span><%= presenter.origin_agent_fee %></span>
      </div>
      <div class='col-md-6'>
        <label>Local Agent Fee (in SGD)</label>
        <span><%= presenter.local_agent_fee %></span>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
        <label>Weekly Working Hours</label>
        <span><%= presenter.weekly_working_hours %></span>
      </div>
      <div class='col-md-6'>
        <label>Sunday Working Hours</label>
        <span><%= presenter.sunday_working_hours %></span>
      </div>
    </div>

  </div>

<%- end %>
