<div class="row">
  <%- presenter.case_file.links.each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%- if i.mimetype.start_with?('image') %>
          <%= filepicker_image_tag i.url, w: 350, h: 250, fit: 'crop', alt: i.filename %>
        <%- elsif i.mimetype.start_with?('application/vnd.openxmlformats-officedocument') || ['application/pdf'].include?(i.mimetype) %>
          <%= filepicker_image_tag i.url, w: 350, h: 250, fit: 'crop', alt: i.filename, format: 'png' %>
        <%- else %>
          <%= image_tag 'report.svg', size: '200x200', class: 'default' %>
        <%- end %>
        <div class="caption">
          <p><%= i.filename %></p>
          <%= link_to 'Download', i.url, class: 'btn btn-default' %>
          <%= link_to 'Remove', case_link_path(presenter.case_file, i), class: 'btn btn-danger pull-right', method: :delete %>
        </div>
      </div>
    </div>
  <%- end %>
</div>

<hr />

<%- if presenter.case_file.pending? %>
  <%= form_for [presenter.case_file, presenter.case_file.links.build], url: case_links_path(presenter.case_file) do |f| %>
    <div class='pull-right'>
      <%= f.filepicker_field :url, onchange: 'onPhotoUpload(event)', multiple: false %>
    </div>
    <%= f.hidden_field :filename, as: :hidden %>
    <%= f.hidden_field :mimetype, as: :hidden %>
    <%= f.hidden_field :size, as: :hidden %>
  <%- end %>
<%- end %>
