<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4">
          <h2>Client</h2>
        </div>
        <div class="col-md-4">
          <h2>Employer</h2>
        </div>
        <div class="col-md-4">
          <h2>Agency</h2>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">

        <!-- RELATED PEOPLE: CLIENT -->
        <div id='client-info' class="col-md-4">
          <%- if presenter.case_file.client.nil? %>
            <div class='well well-empty text-center'>
              <p>No client information</p>
              <%= link_to 'Add Client', new_case_involvement_path(presenter.case_file, involvement: { role: 'client', involvable_type: 'Person' }), remote: true, class: 'btn btn-success' if presenter.case_file.pending? %>
            </div>
          <%- else %>
            <%= render partial: 'involvements/person', object: presenter.case_file.client.involvable, locals: { involvement: presenter.case_file.client } %>
          <%- end %>
        </div>

        <!-- RELATED PEOPLE/ORG: EMPLOYER) -->
        <div id='employer-info' class="col-md-4">
          <%- if presenter.case_file.employer.nil? %>
            <div class='well well-empty text-center'>
              <p>No employer information</p>
              <%= link_to 'Add Person', new_case_involvement_path(presenter.case_file, involvement: { role: :employer, involvable_type: 'Person' }), remote: true, class: 'btn btn-success' if presenter.case_file.domestic? && presenter.case_file.pending? %>
              <%= link_to 'Add Organization', new_case_involvement_path(presenter.case_file, involvement: { role: :employer, involvable_type: 'Organization' }), remote: true, class: 'btn btn-success'  if presenter.case_file.non_domestic? && presenter.case_file.pending? %>
            </div>
          <%- else %>
            <%= render partial: "involvements/#{presenter.case_file.employer.involvable.class.to_s.underscore}", object: presenter.case_file.employer.involvable, locals: { involvement: presenter.case_file.employer } %>
          <%- end %>
        </div>

        <!-- RELATED PEOPLE/ORG: AGENCY) -->
        <div id='agency-info' class="col-md-4">
          <%- if presenter.case_file.agency.nil? %>
            <div class='well well-empty text-center'>
              <p>No agency information</p>
              <%= link_to 'Add Agency', new_case_involvement_path(presenter.case_file, involvement: { role: :agency, involvable_type: 'Organization' }, agency: true), remote: true, class: 'btn btn-success' if presenter.case_file.pending? %>
            </div>
          <%- else %>
            <%= render partial: 'involvements/organization', object: presenter.case_file.agency.involvable, locals: { involvement: presenter.case_file.agency } %>
          <%- end %>
        </div>

      </div>
    </div>
  </div>
</div>
