<div class='page-header'>
  <div class='container'>
    <h1>Add Involvement to Case</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2>Details</h2>
    </div>

    <div class='panel-body'>
			<%= simple_form_for [@case_file, @involvement], as: :involvement, url: case_involvements_path(@case_file) do |f| %>
        <%= f.input :case_id, as: :hidden %>
        <%= f.input :involvable_type, as: :hidden %>

        <%- if @involvement.involvable_type == 'Person' %>
          <%= f.select :involvable_id, Person.all.collect { |p| [ p.name, p.id ] }, include_blank: false %>
        <%- else %>
          <%= f.select :involvable_id, Organization.all.collect { |o| [ o.name, o.id ] }, include_blank: false %>
        <%- end %>

        <%= f.input :role, as: :hidden %>
 	  </div>

    <div class='panel-footer'>
      <%= link_to 'back', case_path(@case_file), class: 'btn btn-default' %>
      <%= f.submit 'Save Changes', class: 'btn btn-primary pull-right' %>
    </div>

    <%- end %>
  </div>
</div>

