<div class='page-header'>
  <div class='container'>
    <h1>Edit Profile</h1>
  </div>
</div>

<div class='container'>

  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <div class="panel panel-default">
        <%= simple_form_for @account, url: my_account_path do |f| %>

          <div class="panel-body">

              <%= f.input :name %>
              <div class='row'>
                <%= f.input :email, wrapper_html: { class: 'col-md-6' } %>
                <%= f.input :contact_number, wrapper_html: { class: 'col-md-6' } %>
              </div>

              <div class='row'>
                <%= f.input :password, wrapper_html: { class: 'col-md-6' } %>
                <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-6' } %>
              </div>

          </div>

          <div class="panel-footer">
            <div class='buttons'>
              <%= link_to 'Cancel', my_account_path, class: 'btn btn-default' %>
              <%= f.submit 'Save Changes', class: 'btn btn-primary pull-right' %>
            </div>
          </div>

        <% end %>
      </div>

    </div>
  </div>

</div>
