<div class='page-header'>
  <div class='container'>
    <h1>Edit <%= @organization.name %></h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>

      <div class='container'>

  <%= simple_form_for (@organization), method: :patch do |f| %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.label :industry %>
    <%= f.select :industry, [['construction'],['domestic']]%>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%- end %>

</div>
    </div>
  </div>
</div>
