<h2>Edit Organization</h2>
 
<%= form_for :organization, url: organization_path(@organization), method: :patch do |f| %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </p>


  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>


  <p>
    <%= f.label :industry %><br>
    <%= f.text_area :industry %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>