<div class='page-header'>
  <div class='container'>
    <h1>Organizations</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h2>All Organizations</h2>
    </div>

    <div class='panel-body'>
      <table class='table table-default'>

        <thead>
          <tr>
            <th class='col-md-2'>Name</th>
            <th>Industry</th>
            <th>Phone</th>
            <th class='col-md-2'>Address</th>
            <th>Email</th>
            <th>Pending Cases</th>
            <th>Closed Cases</th>
          </tr>
        </thead>

        <tbody>
          <%- @organizations.each do |organization| %>
            <tr>
              <td><%= link_to organization.name, organization %></td>
              <td><%= organization.industry.titleize %></td>
              <td><%= organization.phone %></td>
              <td><%= organization.address %></td>
              <td><%= organization.email %></td>
              <td><%= organization.case_files.pending.count %></td>
              <td><%= organization.case_files.closed.count %></td>
            </tr>
          <%- end %>
        </tbody>

      </table>
    </div>

  </div>
</div>
