<div class='page-header'>
  <div class='container'>
    <h1>Organizations</h1>
    <div class='pull-left'>
      <%= link_to 'New Organization', new_organization_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class='container'>

  <table class='table table-default'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      <%- @organizations.each do |organization| %>
        <tr>
          <td><%= link_to organization.name, organization %></td>
          <td><%= organization.phone %></td>
          <td><%= organization.address %></td>
          <td><%= organization.industry %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>

</div>
