<div class='page-header'>
  <div class='container'>
    <h1>Edit User</h1>
  </div>
</div>

<div class='container'>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :contact_number %>
    <%= f.input :roles, as: :check_boxes, collection: [['Admin', 1], ['Case Worker', 2]] %>
    <%= render 'pwform', f: f %>
    
    <%= f.submit 'Edit User', class: 'btn btn-primary' %>
  <% end %>

</div>
