<div class='page-header'>
  <div class='container'>
    <h1>Edit User</h1>
  </div>
</div>

<div class='container'>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :contact_number %>
    <%= f.input :roles, as: :check_boxes, collection: ['Admin', 'Case Worker'] %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>

</div>
