<div class='page-header'>
  <div class='container'>
    <h1>Create New User <small>Account creation</small></h1>
  </div>
</div>

<div class='container'>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :contact_number %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    
    <%= f.submit 'Create User', class: 'btn btn-primary' %>
  <%- end %>

</div>
