<div class='page-header'>
  <div class='container'>
    <h1>Create New User <small>Account creation</small></h1>
  </div>
</div>

<div class='container'>

  <div class='row'>
    <div class='col-xs-12'>
      <%= simple_form_for [:admin, @user], html: { class: 'form' } do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :contact_number %>
        <%= f.submit 'Create User', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
