<div class='page-header'>

  <div class='container'>
    <div class="row">
      <div class="col-md-6">
        <h1><%= @user.name %></h1>
      </div>
    </div>
    <%= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-default' %>
    <% if @user.inactive? %>
      <%= link_to 'Activate', activate_admin_user_path(@user), class: 'btn btn-success', method: :put %>
    <% elsif @user.active? && (@user != current_user) %>
      <%= link_to 'Deactivate', deactivate_admin_user_path(@user), class: 'btn btn-danger', method: :put %>
    <% end %>
  </div>

  <div class='page-header-list'>
    <div class='container'>
      <ul class="list-inline">

        <li>
          <span>Status</span>
          <strong><%= @user.status %></strong>
        </li>

        <li>
          <span>Email</span>
          <strong><%= @user.email %></strong>
        </li>

        <%- if @user.contact_number %>
          <li>
            <span>Contact Number</span>
            <strong><%= @user.contact_number %></strong>
          </li>
        <%- end %>

      </ul>
    </div>
  </div>

</div>

<!-- SHOW ASSIGNED CASES (Pending/Closed) -->
<div class='container'>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h2>Assigned Cases</h2>
    </div>

    <div class='panel-body'>
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">
              <span>Pending</span>
              <span class="badge"><%= @case_files.pending.count %></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">
              <span>Closed</span>
              <span class="badge"><%= @case_files.closed.count %></span>
            </a>
          </li>
        </ul>
          
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active table-responsive" id="pending">

            <table class='table table-default'>
              <thead>
                <tr>
                  <th>Case Number</th>
                  <th>Case Type</th>
                  <th>Client</th>
                  <th>Employer</th>
                </tr>
              </thead>

              <tbody>
                <% @case_files.pending.each do |c| %>
                  <tr>
                    <td><%= link_to c.id, case_path(c) %></td>
                    <td><%= c.case_type %></td>
                    <td>
                      <%= Person.find_by(id: Involvement.where(role: 0, case_id: c.id).first.try(:involvable_id)).try(:name) %></td>
                    <td>
                      <%- if c.involvements.where(role:1).first.try(:involvable_type) == "People" %>
                        <%= Person.find_by(id: Involvement.where(role: 1, case_id: c.id).first.try(:involvable_id)).try(:name) %>
                      <%- else c.involvements.where(role:1).first.try(:involvable_type) == "Organization" %>
                        <%= Organization.find_by(id: Involvement.where(role: 1, case_id: c.id).first.try(:involvable_id)).try(:name) %>
                      <%- end %>
                    </td>
                    <td><%= link_to 'Edit', edit_case_path(c), class: 'btn btn-default' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>

          <div role="tabpanel" class="tab-pane table-responsive" id="closed">

            <table class='table table-default'>
              <thead>
                <tr>
                  <th>Case Number</th>
                  <th>Case Type</th>
                  <th>Client</th>
                  <th>Employer</th>
                </tr>
              </thead>

              <tbody>
                <% @case_files.closed.each do |c| %>
                  <tr>
                    <td><%= link_to c.id, case_path(c) %></td>
                    <td><%= c.case_type %></td>
                    <td>
                      <%= Person.find_by(id: Involvement.where(role: 0, case_id: c.id).first.try(:involvable_id)).try(:name) %></td>
                    <td>
                      <%- if c.involvements.where(role:1).first.try(:involvable_type) == "People" %>
                        <%= Person.find_by(id: Involvement.where(role: 1, case_id: c.id).first.try(:involvable_id)).try(:name) %>
                      <%- else c.involvements.where(role:1).first.try(:involvable_type) == "Organization" %>
                        <%= Organization.find_by(id: Involvement.where(role: 1, case_id: c.id).first.try(:involvable_id)).try(:name) %>
                      <%- end %>
                    </td>
                    <td><%= link_to 'Edit', edit_case_path(c), class: 'btn btn-default' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
