<div class='page-header'>
  <div class="container">
    <h1>All Cases</h1>
    <p>
      Download:
      <%= link_to "CSV", admin_cases_path(query: params[:query], format:"csv") %>|
      <%= link_to "Excel", admin_cases_path(format: "xls") %>
    </p>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <%= simple_form_for @query, as: :query, url: admin_cases_path , method: :get do |form| %>
        <div class='row'>
          <%= form.input :start_date, wrapper_html: { class: 'col-md-5' }, type: 'text' %>
          <%= form.input :end_date, wrapper_html: { class: 'col-md-5' }, type: 'text' %>
          <div class="col-md-2">
            <%= form.submit 'Search', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body table-responsive'>
      <table class='table table-default'>

        <thead>
          <tr>
            <th>User</th>
            <th>Case Type</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Reported at</th>
          </tr>
        </thead>

        <tbody>
          <%- @cases.each do |case_file| %>
            <tr>
              <td><%= case_file.user.name %> </td>
              <td><%= case_file.case_type%></td>
              <td><%= case_file.status %></td>
              <td><%= case_file.issues.collect { |i| i.tag.name }.to_sentence %></td>
              <td><%= case_file.reported_at.to_date.to_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
        </tfoot>

      </table>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $('#query_start_date').datepicker({ dateFormat: 'dd/mm/yy' });
    $('#query_end_date').datepicker({ dateFormat: 'dd/mm/yy' });
  });
</script>
