<div class='page-header'>
  <div class="container">
    <h1>General Report</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <%= simple_form_for @query, as: :query, url: admin_cases_path , method: :get do |form| %>
        <div class='row'>
          <%= form.input :start_date, as: :string, wrapper_html: { class: 'col-md-3' }, input_html: { class: 'datepicker' } %>
          <%= form.input :end_date, as: :string, wrapper_html: { class: 'col-md-3' }, input_html: { class: 'datepicker' } %>
          <%= form.input :case_type, collection: CaseFile::TYPE, include_blank: 'All Cases', wrapper_html: { class: 'col-md-2' } %>
          <%= form.input :nationality, include_blank: 'All', wrapper_html: { class: 'col-md-2' } %>
          <div class="col-md-2">
            <br />
            <%= form.submit 'Search', class: 'btn btn-primary btn-block btn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body table-responsive'>
      <table class='table table-default'>

        <thead>
          <tr>
            <th>Case</th>
            <th>Assigned to</th>
            <th>Case Type</th>
            <th>Status</th>
            <th>Reported at</th>
            <th>Closed at</th>
          </tr>
        </thead>

        <tbody>
          <%- @case_files.each do |case_file| %>
            <tr>
              <td><%= link_to case_file, case_path(case_file) %></td>
              <td><%= case_file.user.name %></td>
              <td><%= case_file.case_type%></td>
              <td><%= case_file.status.titleize %></td>
              <td><%= case_file.reported_at.to_date.to_s(:long) %></td>
              <td><%= case_file.closed_at.to_date.to_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <td colspan='6'>
              <%- if @case_files.empty? %>
                <p>No Cases Found.</p>
              <%- else %>
                <%= link_to "Download as CSV", admin_cases_path(query: params[:query], format: "csv") %>
              <%- end %>
            </td>
          </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>
