<div class='page-header'>
  <div class='container'>
    <h1>Edit Case Number <%= @case.id%></h1>
    <%= link_to 'Back to Case', case_path(@case), class: 'btn btn-default' %>
  </div>
</div>

<div class='container'>
  <div class='row'>

    <div class='col-xs-6'>
      <%= simple_form_for @case, url: update_assignment_admin_case_path(@case) do |f| %>

        <%= select("case_file", "user_id", @users.collect {|u| [ u.name, u.id ] }) %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>   