<!DOCTYPE html>
<html>

  <head>

    <title>Home</title>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,600', 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body class="<%= "#{controller.controller_path.parameterize.gsub('-', '_')} #{controller.action_name}" %>">

    <%- if flash.notice.present? %>
      <div class="alert alert-success">
      <%= flash.notice %>
      </div>
    <%- end %>
    <%- if flash.alert.present? %>
      <div class="alert alert-danger">
      <%= flash.alert %>
      </div>
    <%- end %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
        </div>

        <%- if current_user %>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Cases', cases_path %></li>
              <li><%= link_to 'People', people_path %></li>
              <li><%= link_to 'Organizations', organizations_path %></li>
              <li><%= link_to 'Users', admin_users_path %></li>
              <li><%= link_to 'Audits', admin_audit_trails_path %></li>
            </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'My Profile', my_account_path %></li>
              <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      <%- end %>

    </nav>

    <%= yield %>

    <script type="text/javascript" src="http://api.filestackapi.com/filestack.js"></script>

  </body>

</html>
